<div class="aboutContainer">
  <h2 class="about-title">הגלריה של נילי</h2>
  <!-- <img class="brush" src="../../assets/paintings/brush.jpg" alt="" /> -->
  <img
    class="my-photo"
    src="https://scontent.ftlv1-1.fna.fbcdn.net/v/t1.18169-9/196310_1008644850923_931_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=b9145c&_nc_ohc=XlmGYJdsDUYAX8YikqT&_nc_ht=scontent.ftlv1-1.fna&oh=00_AfDVJQNyyZXa-Ln1Z-qONMT4Afn-qmpFn2x8xSjXtvyXdA&oe=6556F953"
    alt=""
  />
  <p class="about_me">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab alias ut rem
    quod aspernatur sapiente asperiores similique sed necessitatibus iste rerum
    qui fugit praesentium ipsum perferendis soluta exercitationem quia
    blanditiis amet hic, aliquam illo dolor sit nesciunt. Debitis eaque
    blanditiis accusantium, officiis enim iste repellendus dolorum voluptate
    nihil assumenda vel.
  </p>
  <carousel [images]="slidesPohtos" [autoSlider]="true"></carousel>
</div>
