<div *ngIf="images && images.length" class="carousel-container">
  <img
    *ngFor="let image of images; let i = index"
    [src]="image.url"
    [alt]="image.photoName"
    [ngClass]="{ 'image-active': selectedIndex == i }"
    class="fade"
  />
  <div *ngIf="indicators" class="dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex == i }"
      (click)="selectedImage(i)"
    ></span>
  </div>
  <button class="btn-carusel btn-prev">
    <i
      class="fas fa-arrow-circle-left icon-carousel icon-prev"
      (click)="onPrevClick()"
    ></i>
  </button>
  <button class="btn-carusel btn-next">
    <i
      class="fas fa-arrow-circle-right icon-carousel icon-next"
      (click)="onNextClick()"
    ></i>
  </button>
</div>
